<% if @user.errors.any? %>
	<h2>The following errors prevented the user from being created:</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>

<p>
    <%= f.label :username %><br/>
		<%= f.text_field :username, placeholder: "Username" %>
</p>

<p>
    <%= f.label :email %><br/>
		<%= f.text_area :email, placeholder: "Enter your email" %>
</p>

<p>
    <%= f.label :password %><br/>
		<%= f.text_area :password, placeholder: "Enter your password" %>
</p>

<p>
    <%= f.submit(@user.new_record? ? "Sign up" : "Update account") %>
</p>

<% end %>