<h1><%= @user.username %></h1>

<h3>Articles</h3>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>


<%= render "articles/article" %>
<div class="text-center mt-4">
  <td><%= link_to "Edit profile", edit_user_path(@user), method: :get %></td>
</div>

<%= link_to "Back to Home", root_path, method: :get %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>